* {
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
  position: relative;
}

body{

  font-family: "segoe ui";
  height: 900px;
  background-color: #fff;
  
}


:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --checkmark-color: #43b324;
}

.nav {
  height:50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  align-items: baseline;
}

.nav .nav-header{
  display:inline;
}
.nav .nav-header .nav-title{
  display:inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px;
}

.container-1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.container {
  border: 1.5px solid;
  border-radius: 20px;
  width: 30%;
  padding: 30px;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, .05);
  /* -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, .05); */
}

.container h2{
    font-size: 30px;
    font-weight: 700;
    color: #222;
    margin: 0 0 30px 0;
    text-align: center;
}

.form {
    padding: 10px 20px;
}

.form-control{
    margin-bottom:10px;
    padding-bottom: 15px;
    position: relative;
}

.form-control label{
    color: #333;
    margin-bottom: 5px;
    max-width: 100%;
    display: block;
}



.form-control input{
    font-family: 'Poppins','sans-serif';
    border:1px solid #e6e6e6;
    border-radius: 4px;
    display: block;
    width: 50%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus{
    outline: none;
    border-color: #777;
}


.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}
button {
    cursor: pointer;
    background: #6dabe4;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 13px 39px;
    margin-bottom: 10px;
    transition: all ease .25s;
}

button:hover {
    background: #4292dc;
}


.container .success-message{
    position: absolute;
    margin-left: 20px;
    color: var(--success-color);
    visibility: hidden;
}

.container.success .success-message{
    visibility: visible;
}

.horizontal-line{
    margin-top: 10  px;
    border: 0.8px solid black;
}

.listing-section {
    position: absolute; 
    width: 100%;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 0.01em solid #dddbdb; */
}

.listing-section h2{
    text-align: center;
}

.product {
    float:left;
    width:23%;
    border-radius: 2%;
    margin: 1%;
}

.product:hover {
  box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);  
  -moz-box-shadow:    1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
}

.image-box {
    width: 100%;
    overflow: hidden;
    border-radius: 2% 2% 0 0;
}

.images {
    height: 15em;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}

#image-1 {background-image: url("https://sc01.alicdn.com/kf/UT8.CaXX2NXXXagOFbXC/fresh-navel-oranges.jpg");}

#image-2 {background-image: url("https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg")}

#image-3 {background-image: url("https://sc01.alicdn.com/kf/UT8ovSIXQNaXXagOFbXt/Fresh-Passion-Fruit-with-Best-Price-and.jpg")}

#image-4 {background-image: url("http://www.foodmatters.com/media/images/articles/16-powerful-reasons-to-eat-pineapple.jpg")}

#image-5 {background-image: url("http://membrillo.com.au/wp-content/uploads/2016/11/bg-mango-01.jpg")}

#image-6 {background-image: url("http://ell.h-cdn.co/assets/16/27/980x490/landscape-1467750721-gettyimages-146896572.jpg")}

#image-7 {background-image: url("https://www.baag.com.au/wp-content/uploads/1100bananas1.jpg")}

#image-8 {background-image: url("https://www.baag.com.au/wp-content/uploads/1100plums.jpg")}

#image-9 {background-image: url("https://www.baag.com.au/wp-content/uploads/1100avocado.jpg")}

#image-10 {background-image: url("https://www.baag.com.au/wp-content/uploads/1100lemons.jpg")}

.images:hover {
  transform: scale(1.2);
  border-radius: 2%;
}

.text-box {
    width:100%;
    border: 0.01em solid #dddbdb;
    padding: 1em;
    border-radius: 0 0 2% 2%;
}
.text-box h2,h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.2em auto;

}

.item, .price {
  clear: left;
  width: 100%;
  text-align: center;
}
.price {
  color: Grey;
}
.description, label, button, input {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}

@media screen and (max-width:820px) {
body{
  margin:0px;
  font-family: "segoe ui";
  background-color: #fff;
}

.container-1{
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
}

.container {
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border: 0;
    -moz-border: 0;
    border:0;
    width: 100%;
    padding: 30px;
}

.listing-section {
    display: block; 
    width: 100%;
    padding: 1%;
}

.listing-section h2 {
    text-align: center;
    width: 100%;
    padding: 1%;
}

.product {
    display: block;
    width:100%;
    padding: 1%;
    margin-left: 1px;
}

.product:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
}

/* 
@media screen and (max-width: 960px) {

    

    .container {
        flex-direction: column;
    }

    .column1,
    .column2 {
        width: auto;
    }
}

@media screen and (max-width: 600px) {

    body {
        padding: 10px;
    }

    h2 {
        font-size: 25px;
    }

    .form-control input {
        font-size: 12px;
        padding: 5px;
    }

    button {
        padding: 10px 25px;
        font-size: 14px;
    }

    .form {
        padding: 30px 20px;
    }

    .form-control {
        margin-bottom: 5px;
        padding-bottom: 15px;
    }
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 120px;
}

*/